<% content_for(:title, t('users.show.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= t('users.show.title') %></h1>
      <table class="table">
        <tr>
          <th scope="row"><%= User.human_attribute_name(:name) %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:email) %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:message_template) %></th>
          <td><%= @user.message_template %></td>
        </tr>
      </table>
      <%= link_to t('users.show.edit'), edit_user_path(@user), class: 'btn btn-success float-right' %>
      <!-- パスワード変更ページへのリンク -->
      <%= link_to t('users.show.change_password'), edit_password_user_path(@user), class: 'btn btn-primary mt-3' %>
    </div>
  </div>
</div>